:root {
  --color-tarjeta-resultado: #5a3df9;
  --color-tarjeta-resumen: #ffffff;
  --color-sombreado: #f2f4fd;
}

body {
  background-color: white;
  font-family: sans-serif;
}
.tarjeta-resultado__principal {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 111vh;
}
.tarjeta-resultado {
  background: rgb(102, 69, 250);
  background: linear-gradient(
    218deg,
    rgba(102, 69, 250, 1) 0%,
    rgba(104, 67, 251, 1) 50%,
    rgba(53, 47, 235, 1) 100%
  );
  border-radius: 30px;
  width: 368px;
  height: 512px;
  text-align: center;
}

.tarjeta-resultado__title {
  margin-top: 42px;
  font-size: 24px;
  color: white;
}
.tarjeta-resultado__circulo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: rgb(75, 35, 205);
  background: linear-gradient(
    0deg,
    rgba(75, 36, 205) 0%,
    rgba(69, 51, 237) 100%
  );

  margin-left: 89px;
  color: white;
  padding: 7px;
}
.tarjeta-resultado__numerototal {
  font-size: 80px;
  font-weight: bold;
  margin-top: 32px;
}
.tarjeta-resultado__de100 {
  font-size: 16px;
  margin-top: -81px;
}

.tarjeta-resultado__result {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.tarjeta-resultado__description {
  font-size: 19px;
  color: white;
  padding: 0 45px;
}
.tarjeta-resumen {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 512px;
  background-color: var(--color-tarjeta-resumen);
  border-radius: 30px;
  box-shadow: 10px 10px 5px var(--color-sombreado);
}

.tarjeta-resumen__title-summary {
  margin-top: 38px;
  margin-left: 48px;
  font-size: 26px;
  color: #32384a;
  font-weight: bold;
  margin-bottom: 36px;
}

.tarjeta-resumen__reaction {
  background-color: #fff6f5;
  color: #df6066;
  width: 288px;
  height: 56px;
  border-radius: 8px;
  margin-left: 41px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  align-content: center;
}

.tarjeta-resumen__memory {
  background-color: #fffbf2;
  color: #ffc24d;
  width: 288px;
  height: 56px;
  border-radius: 8px;
  margin-left: 41px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  align-content: center;
}
.tarjeta-resumen__memory-icon {
  width: 30px;
  height: 30px;
  margin-left: 121px;
  margin-top: 214px;
  position: absolute;
}

.tarjeta-resumen__verbal {
  background-color: #f2fbfa;
  color: #2dac8a;
  width: 288px;
  height: 56px;
  border-radius: 8px;
  margin-left: 41px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  align-content: center;
}

.tarjeta-resumen__visual {
  background-color: #f3f3fd;
  color: #1923a0;
  width: 288px;
  height: 56px;
  border-radius: 8px;
  margin-left: 41px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  align-content: center;
}

.tarjeta-resumen__button {
  background-color: var(--color-tarjeta-resultado);
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  color: white;
  width: 254px;
  height: 50px;
  margin-left: 58px;
  margin-top: 12px;
  text-align: center;
  font-size: 21px;
  justify-content: center;
}
