:root {
  --color-tarjeta-resultado: #5a3df9;
  --color-tarjeta-resumen: #ffffff;
  --color-sombreado: #f2f4fd;
  --color-letra-summary: #393d4e;
}

body {
  background-color: white;
  font-family: sans-serif;
  margin: 0;
}

.cuerpo-principal {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.tarjeta-resultado__principal {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 736px;
  box-shadow: 10px 10px 5px var(--color-sombreado);
  border-radius: 30px;
}
.tarjeta-resultado {
  background: rgb(102, 69, 250);
  background: linear-gradient(
    218deg,
    rgba(102, 69, 250, 1) 0%,
    rgba(104, 67, 251, 1) 50%,
    rgba(53, 47, 235, 1) 100%
  );
  border-radius: 30px;
  text-align: center;
  flex: 1 1 50%;
  padding-bottom: 48px;
}

.tarjeta-resultado__title {
  margin-top: 42px;
  font-size: 24px;
  color: white;
}
.tarjeta-resultado__circulo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: rgb(75, 35, 205);
  background: linear-gradient(
    0deg,
    rgba(75, 36, 205) 0%,
    rgba(69, 51, 237) 100%
  );

  margin-left: 89px;
  color: white;
  padding: 7px;
}
.tarjeta-resultado__numerototal {
  font-size: 80px;
  font-weight: bold;
  margin-top: 32px;
}
.tarjeta-resultado__de100 {
  font-size: 16px;
  margin-top: -81px;
}

.tarjeta-resultado__result {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.tarjeta-resultado__description {
  font-size: 17px;
  color: white;
  padding: 0 45px;
}
.tarjeta-resumen {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
  padding-bottom: 48px;
}

.tarjeta-resumen__title-summary {
  margin-top: 38px;
  font-size: 26px;
  color: var(--color-letra-summary);
  font-weight: bold;
  margin-bottom: 36px;
}

.tarjeta-resumen__dato {
  background-color: #fff6f5;
  color: #df6066;
  width: 249px;
  height: 56px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  align-content: center;
}
.tarjeta-resumen__dato--amarillo {
  color: #ffc24d;
  background-color: #fffbf2;
}
.tarjeta-resumen__dato--verde {
  color: #2dac8a;
  background-color: #f2fbfa;
}
.tarjeta-resumen__dato--azul {
  color: #1923a0;
  background-color: #f3f3fd;
}


.tarjeta-resumen__memory-icon {
  width: 30px;
  height: 30px;
}

.tarjeta-resumen__button {
  background-color: var(--color-tarjeta-resultado);
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  color: white;
  width: 254px;
  height: 50px;
  margin-top: 12px;
  text-align: center;
  font-size: 21px;
  justify-content: center;
}
