:root {
  --color-tarjeta-resultado: #5a3df9;
  --color-numero-resultado: #bbb1fc;
  --color-tarjeta-resumen: #ffffff;
  --color-sombreado: #f2f4fd;
  --color-letra-summary: #3a3947;
  --color-numero-summary: #928e9a;
}

body {
  background-color: white;
  font-family: sans-serif;
  margin: 0;
}

.cuerpo-principal {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.tarjeta-resultado__principal {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  max-width: 736px;
  box-shadow: 10px 10px 5px var(--color-sombreado);
  border-radius: 30px;
}
.tarjeta-resultado {
  background: rgb(102, 69, 250);
  background: linear-gradient(#6743ff 0%, #312de6 75%);
  border-radius: 30px;
  text-align: center;
  flex: 1 1 50%;
  padding-bottom: 48px;
}

.tarjeta-resultado__title {
  margin-top: 42px;
  font-size: 24px;
  color: var(--color-numero-resultado);
}
.tarjeta-resultado__circulo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  background: rgb(75, 35, 205);
  background: linear-gradient(#4b20c7 0%, #3f33ec 100%);

  margin-left: 89px;
  color: white;
  padding: 7px;
}
.tarjeta-resultado__numerototal {
  font-size: 80px;
  font-weight: bold;
  margin-top: 32px;
}
.tarjeta-resultado__de100 {
  font-size: 16px;
  margin-top: -81px;
  color: var(--color-numero-resultado);
}

.tarjeta-resultado__result {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.tarjeta-resultado__description {
  font-size: 17px;
  color: var(--color-numero-resultado);
  padding: 0 45px;
}
.tarjeta-resumen {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  gap: 22px;
  padding: 48px 40px;
}

.tarjeta-resumen__title-summary {
  font-size: 26px;
  color: var(--color-letra-summary);
  font-weight: bold;
  margin: 0;
}

.tarjeta-resumen__dato {
  background-color: #fff6f5;
  color: #df6066;
  min-width: 249px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 22px 16px;
}
.tarjeta-resumen__dato--amarillo {
  color: #ffc24d;
  background-color: #fffbf2;
}
.tarjeta-resumen__dato--verde {
  color: #2dac8a;
  background-color: #f2fbfa;
}
.tarjeta-resumen__dato--azul {
  color: #1923a0;
  background-color: #f3f3fd;
}
.tarteja-resumen__dato__cifra {
  flex-grow: 1;
  text-align: right;
  color: var(--color-letra-summary);
  margin-right: 8px;
}
.tarjeta-resumen__dato__signo {
  color: var(--color-numero-summary);
}
.tarjeta-resumen__dato__cifra2 {
  color: var(--color-numero-summary);
  margin-left: 6px;
}

.tarjeta-resumen__memory-icon {
  width: 30px;
  height: 30px;
}

.tarjeta-resumen__button {
  background-color: #303b59;
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  color: white;
  min-width: 254px;
  padding: 18px 0;
  text-align: center;
  font-size: 21px;
  justify-content: center;
  cursor: pointer;
}

.tarjeta-resumen__button:hover {
  background-color: var(--color-tarjeta-resultado);
}
